<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body style="background-color: rgb(247, 247, 247);">
    <!-- <div class="vid-container"> -->
        <!-- <video id="Video1" class="bgvid back" autoplay="false" muted="muted" preload="auto" loop>
            <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
        </video> -->
        <!-- <div class="inner-container"> -->
          <!-- <video id="Video2" class="bgvid inner" autoplay="false" muted="muted" preload="auto" loop>
            <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
          </video> -->
          <div class="box">
            <h1>Register</h1>
            <input id="id" type="text" placeholder="ID"/>
            <input id="name" type="text" placeholder="Name"/>
            <input id="pw" type="password" placeholder="Password"/>
            <input id="confirm-pw" type="password" placeholder="Confirm Password"/>
            <button id="button">SIGN UP</button>
            <p>Already member? <a href="/login"><span>Sign In</span></a></p>
          </div>
        <!-- </div> -->
      <!-- </div> -->
</body>
</html>

<!-- Copyright (c) 2021 by Benjamin (https://codepen.io/maggiben/pen/KwdeaM) -->